.container{
    width: 100%;
    margin: 0;
    font-family: roboto;
}
.page{
    padding-left: 20%;
    padding-right: 20%;
}
header{
    margin-top: 70px;
}
.samp{
    color: brown;
    font-size: 34px;
    font-weight: bolder;
    text-decoration: none;
}
.as{
    padding-left: 50px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.link{
    padding-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.link:hover{
    color: brown;

}
nav{
    width: 100%;
    height: 60px;
    margin: 0px;
    box-shadow: 0px 1px 1px rgb(72, 71, 71);
}
h1+p{
  text-align: center;
}
.h{
    text-align: center;
    color: brown;
    padding: 3px;
    border-bottom: 1px solid brown;
}
.image{
    border-radius: 20px;
}
.butt{
    display: block;
    margin-left: 400px;
    margin-top: -40px;
    padding:5px;
    background-color: aliceblue;
    border-radius: 14px;
    border-color: brown;
    color: brown;
    font-size: 20px;
}
.entre{
    border-bottom: 1px solid brown;
    border-left: hidden;
    border-top: hidden;
    border-right: hidden;
    font-size: 20px;
    width: 300px;
}
.suivant{
    margin-left: 17px;
    padding:5px;
    background-color: aliceblue;
    border-radius: 14px;
    border-color: brown;
    color: brown;
    font-size: 20px;
}

th{
    font-size: 20px;
}
td{
    font-size: 20px;
}
th:nth-child(odd){
    background-color: brown;
}
td:nth-child(odd){
    background-color: brown;
}
p{
    font-size: 20px;
}
.img{
    margin-top: 10px;
    margin-bottom:10px ;
    margin-left: 100px;
    width: 700px;
    height: 500px;
}
.form{
    margin-left: 250px;
    width: 50%;
    border: 1px solid brown;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 20px;
}
label{
    font-size: 20px;
    margin-bottom: 20px;
    padding: 40px;
    color: brown;
}
.entre2{
    border-bottom: 1px solid brown;
    border-left: hidden;
    border-top: hidden;
    border-right: hidden;
    font-size: 25px;
}
.moi{
    margin-bottom: 20px;
    font-size: 25px;
    padding:5px;
    background-color: aliceblue;
    border-radius: 14px;
    border-color: brown;
    color: brown;
    font-size: 20px;
    width: 100px;
}
.pied1{
    
    margin-left:30% ;
    
}
.pied2{
    margin-left: 70%;
    margin-top:-20%;
}
footer{
    background-color: black;
    color: brown;
    border: 1px solid black;
}